﻿      body {
        min-width: 357px;
        overflow-x: hidden;
      }

      img {
        margin: 5px;
        border: 2px solid black;
        vertical-align: middle;
        width: 75px;
        height: 75px;
      }

      p#showUserDetails {
          display: none;
      }

      p#browseIdLookup {
          display:none;
      }

      p#peopleLookup {
          display:none;
      }

      p#groupUrlLookup {
          display:none;
      }

      p#APIPlaceIdSearch {
          display:none;
      }